  .selectContainer{
    margin-top:-15px;
    margin-right: 20px;
  }
  
  .selectContainer .helpAPI{
    display:inline-block;
    cursor: help;
    width:20px;
    height:16px;
    color:black;
    background-color:rgb(196, 193, 193);
    border: 1px solid rgb(146, 145, 145);
    border-radius: 30%;
  }
  
  .selectContainer .helpAPI:hover{
    color:orange;
    background-color: rgb(40, 44, 52);
  }
  
  .selectContainer .helperListAPI{
    z-index: 100;
    display: block;
    white-space: pre;
    width:650px;
    background-color:rgb(223, 223, 223);
    border-radius: 3px;
    margin-left: -700px;
    padding-left: 7px;
    padding-right: 7px;
    position:absolute;
  }

  .selectContainer .helperListAPI p{
    text-align: left;
  }
  
  .selectContainer .select{
    width: 155px;
    height:40px;
  }

  .selectContainer .closeHelperListAPI{
    text-align: right;
    font-size:28px;
    padding: 5px;
  }

  .selectContainer .closeHelperListAPI:hover{
    color:orange;
    cursor:pointer;
  }